name: Run Cypress Home App Tests

on:
  push:
    branches:
      - main
    paths:
      - 'e2e/pruebas_funcionales_app/**' # Solo se activa si cambias algo aquí
 # workflow_dispatch: # <--- Esto activa el botón manual
  pull_request:
    branches:
      - main
    paths:
      - 'e2e/pruebas_funcionales_app/**' # Lo mismo para los PR
  # workflow_dispatch: # <--- Esto activa el botón manual

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress tests
        run: npx cypress run --spec "**/e2e/pruebas_funcionales_app/**/*.{js,ts,jsx,tsx}"